doctype html
html(lang="en")
  head
    title HectorObtavioV2
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Virtual portfolio of HectorObtavio")
    meta(name="author", content="HectorObtavio")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="")


  body
    header
      h1 Art
    #navtop
     
      ul
        li
          a(href='about.html') About
        li
          a(href='photo.html') Photography
        li
          a(href='design.html') Design
        li
          a(href='art.html') Art
        
        hr
    
  
